{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/no-danger": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "import/no-extraneous-dependencies": [0],
    "no-underscore-dangle": [0]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
